.housing-full {
    &__header {
        display: flex;
        color: #FF6060;
        flex-direction: column;
        gap: 2rem;
        &-container {
            margin: 3rem 0 2.5rem 0;
            display: flex;
            justify-content: space-between;
            @media (max-width: 900px) {
                flex-direction: column;
                gap: 2rem;
            }
        }
        &__title {
            h2 {
                font-size: 3.6rem;
                font-weight: 400;
                @media (max-width: 1100px) {
                    font-size: 3rem;
                }
                @media (max-width: 900px) {
                    font-size: 2.4rem;
                }
                @media (max-width: 500px) {
                    font-size: 1.8rem;
                }
            }
            p {
                font-size: 1.8rem;
                @media (max-width: 1100px) {
                    font-size: 1.6rem;
                }
                @media (max-width: 900px) {
                    font-size: 1.4rem;
                }
            }
        }
        &__tags {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4rem;
                border-radius: 10px;
                background-color: #FF6060;
                color: #fff;
                padding: 0.3rem 3.5rem;
                @media (max-width: 1100px) {
                    padding: 0.3rem 2.5rem;
                }
                @media (max-width: 900px) {
                    padding: 0.3rem 1.5rem;
                    font-size: 1rem;
                }
            }
        }
    }
    &__characteristics {
        display: flex;
        flex-direction: column;
        color: #FF6060;
        gap: 2rem;
        @media (max-width: 900px) {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
        &__host {
            display: flex;
            align-items: center;
            gap: 1rem;
            img {
                width: 6.4rem;
                height: 6.4rem;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                @media (max-width: 900px) {
                    width: 4.8rem;
                    height: 4.8rem;
                }
                @media (max-width: 500px) {
                    width: 3.2rem;
                    height: 3.2rem;
                }
            }
            p {
                font-size: 1.8rem;
                width: 9rem;
                text-align: end;
                text-wrap: wrap;
                @media (max-width: 900px) {
                    font-size: 1.4rem;
                    width: 6rem;
                }
                @media (max-width: 500px) {
                    font-size: 1.2rem;
                    width: 4rem;
                }
            }
        }
    }
    &__overview {
        display: flex;
        gap: 7.6rem;
        margin: 2.5rem 0 5rem 0;
        @media (max-width: 900px) {
            flex-direction: column;
            gap: 2rem;
        }
        .collapse {
            width: 100%;
        }
    }
}